<li class="option"
    id="option-{{ option.key }}">
  <label class="option__label">
    <input type="number"
           class="input option__input"
           id="input-{{ option.key }}"
           name="input-{{ option.key }}"
           value=""
           min="0"
           max="99"
           placeholder="?">

    <div class="option__times">
      ×
    </div>

    <div class="option__text">
      <div class="option__name">
        {{ option.name }}
      </div>

      <div class="option__tags">
        <!-- <span class="option__tag option__tag--favourite">Favorito</span> -->
        <span class="option__tag">{{ option.category }}</span>
      </div>
    </div>
  </label>
</li>
